.App {
    text-align: center;
}

body {
    background-color: #fadfd4;
}

.myMeal {
    padding: 5px;
    color: azure;
    background-color:#c95035;
    font-size: 14px;
}

button {
    padding: 10px;
    background-color: #c95035;
    color: azure;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: #f76140;
    
}

h1 {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h2 {
    color: #c95035;
}

ul li {
    list-style: none;
}


.categories-meal {
    margin: 100px;
}

li {
    display: flex;
    margin-bottom: 20px;
}

.desc-des {
    text-align: left;
    margin-left: 15px;
}

p {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loading {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: #c95035;
    padding-top: 150px;
}

.pageChange {
    margin-top: 50px;
}

.pageChange span {
    margin: 0 10px 0;
}