.App {
    text-align: center;
}

body {
    background-color: bisque;
}

.myMeal {
    padding: 10px;
    color: azure;
    background-color: brown;
    font-size: 14px;
}

h1 {
    font-size: 18px;
}

h2 {
    color: brown;
}

ul li {
    list-style: none;
}


.categories-meal {
    margin: 50px 100px;
}

li {
    display: flex;
    margin-bottom: 20px;
}

.desc-des {
    text-align: left;
    margin-left: 15px;
}

p {
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loading {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    padding-top: 150px;
}