* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:bisque;
    max-width: 750px;
    margin: 100px auto;

}

input {
    width: 98%;
    padding: 10px;
    margin: 15px;
    outline: none;
    border:2px solid #ec8a50;
    border-radius: 5px;
}


ul {
    max-width: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px  auto;
}

ul li {
    list-style: none;
    padding: 5px 15px; 
}

li img {
    max-width: 120px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #ec8a50;
    
}

h5 {
    text-decoration: none;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    color: #954212;
    padding-left: 5px;
}
